In [3]:
# The code was removed by Watson Studio for sharing.

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11
0,NaN,NaN,NaN,Tiempo de Videos,NaN,NaN,NaN,NaN,NaN,NaN,Completado,236.0
1,NaN,NaN,NaN,Sem 1,Sem 2,Sem 3,Sem 4,Sem 5,Total Sem,NaN,Objetivo Semana,123.0
2,NaN,1.0,What is Data Science?,27,39,32,-,-,98,NaN,NaN,NaN
3,NaN,2.0,Tools for Data Science,84,54,72,-,-,210,NaN,NaN,NaN
4,NaN,3.0,Data Science Methodology,19,22,10,-,-,51,NaN,NaN,NaN

In [4]:
print("Holiwis")

Holiwis